@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --azul-princial: #2F80ED;
    --azul-claro: #DCEEFF;
    --cinza-claro: #F2F2F2;
    --cinza-escuro: #4F4F4F;
    --verde-claro: #27AE60;
    --vermelho-claro: #EB5757;

    --fonte-principal:  "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--azul-princial);
    font-family: var(--fonte-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.imagem-logo{
    width: 8vw;
}

header nav ul{
    display: flex;
    gap: 40px;

}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    display: inline-block;
    transition: transform 0.3s ease;
}

header nav ul li a:hover {
    transform: scale(1.1);
}

.icone-usuario{
    width: 3vw;
}


footer{
    background-color: var(--azul-princial);
    font-family: var(--fonte-principal);
    text-align: center;
    padding: 20px 0px 40px 0px;

}

footer a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding-bottom: 10px;
    display: inline-block;
    transition: transform 0.3s ease;
}

footer a:hover{
    transform: scale(1.1);
}

footer p{
    color: #ffffff;
    font-size: 14px;
}
